%div#contentheader  
  %div.menubar
    %div
      %a= render :partial => '/sessions/logout'
      = link_to 'Add a new employee', new_employee_path, class: "button menu"
  %div#headerbar
    %h1 All Employees
%div.content
  %div.container.third
    %select{:name => "name_select", :id => "nameSelector"}
      %option{:value => "All"} All
      -@employees.each do |e|
        -if not e.admin
          %option{:value => e.id} #{e.name}
    %select{:name => "period_select", :id => "periodSelector"}
      -@payperiods.reverse_each do |p|
        %option{:value => p.id} #{p.print}
    %button{:id => "export", :onclick => "Employees.massExport()"} Export Timesheets
  %div.container.two-thirds
    %table.vblu.employees#index
      %thead
        %tr
          %th Name
          %th Email
      %tbody
        = render :partial => 'employee' , :collection=>@employees
