%h1 Welcome to #{@employee.name}'s time sheet!
%h1 Id of the timesheet #{@timesheet.id}

%div#clockinquestionmark{ :style => "display :none"}= @employee.clockin?
//TODO A lot of the rendering of the tiemsheet should be pushed into partials
//%script{:src => "/public/javascripts/application.js"}
%br
%button{:id => "clockin" , :style => "display: block" } Clock In
%table#timesheet
  %thead
    %tr
      %th Date
      %th In
      %th Out
  %tbody
    - @timesheet.days.each do |day|
      %tr
        %td= day.day.strftime("%a:%m:%d")
      %tr
        - day.in_and_outs.each do |inandout|
          %tr
            %td
            %td= inandout.in.strftime("%H:%M:%S")
            %td= inandout.out.strftime("%H:%M:%S") unless !inandout.out
