%h1 #{@employee.name}'s time sheet!
%h1 For payperiod #{@timesheet.payperiod.start_date} to #{@timesheet.payperiod.end_date}

%div#clockinquestionmark{ :style => "display :none"}= @employee.clockin?
%h1 Total: #{@timesheet.totalHours}
%br
  -if @employee.uid == session[:user_uid]
    %button{:id => "clockin" , :style => "display: block" } Clock In
= render :partial => "timesheet_table"
%button{:id => "submit", :style => "display: none"} Submit Changes
