%h1 Health For All
%h2 Employee Leave Form
%p © <%= Date.today.year %> ELECTRON.

= label :movie, :title, 'Name'
= text_field :movie, 'title'

= label :movie, :rating, 'Type of Leave'
= select :movie, :rating, ['Vacation','Sick Leave','Bereavement','Jury Duty','Leave without Pay']

= label :movie, :release_date, 'Date(s) of Leave'
= date_select :movie, :release_date

