
%h1 Health For All
%h2 Employee Leave Form
%p © ELECTRON
%div.content

= form_tag employee_timesheet_email_path(@employee, @timesheet) do

  = label :vacation, :name, 'Title'
  = text_field :vacation,'name', value=@employee.name

  = label :vacation, :type, 'Rating'
  = select :vacation, :type, ['G','PG','PG-13','R','NC-17']

  = label :vacation, :date, 'Released On'
  = date_select :vacation, :date

  = submit_tag 'Save Changes'