
%h1 Health For All
%h2 Employee Leave Form
%p © ELECTRON
%div.content

= form_tag employee_timesheet_email_path(@employee, @timesheet) do

  = label :vacation, :name, 'Name'
  = text_field :vacation,'name'

  = label :vacation, :vacation_type, 'Type of Leave'
  = select :vacation, :vacation_type, ['Vacation','Sick Leave','Bereavement','Jury Duty','Leave without Pay']

  = label :vacation, :date, 'Date of leave'
  = date_select :vacation, :date

  = label :vacation, :hours, 'Number of Hours'
  = text_field :vacation,'hours'

  = submit_tag 'Send email to supervisor'