
%h1 Health For All
%h2 Employee Leave Form
%p © ELECTRON
%div.content

= form_tag employee_timesheet_email_path(@employee, @timesheet) do

  = label :movie, :title, 'Title'
  = text_field :movie, 'title'

  = label :movie, :rating, 'Rating'
  = select :movie, :rating, ['G','PG','PG-13','R','NC-17']

  = label :movie, :release_date, 'Released On'
  = date_select :movie, :release_date

  = submit_tag 'Save Changes'