%div#clockinquestionmark{ :style => "display :none"}= @employee.clockin?
%div#contentheader  
  %div#headerbar
    %h1 #{@name}
  -if @uid == session[:user_uid]
    %div.menubar
      %div
        -if @current_user
          %a= render :partial => '/sessions/logout'
        = link_to 'Export Timesheet', employee_timesheet_show_path(@employee, @timesheet, format: "xls"), :class => "button menu"
%div#content
  %div.container.third
    %select{:name => 'pay_pariod', :id => "periodSelector", :onchange => "TimeSheet.changePeriod()"}
      -@payperiods.reverse_each do |p|
        -if p.start_date == @start_date
          %option{:value => p.id, :selected => "selected"} #{p.print}
        -else
          %option{:value => p.id} #{p.print}
    -if @uid == session[:user_uid]
      -if @current
        %button.button{:id => "clockin"} Clock In
        %button{:id => "submit", :style => "display: none"} Submit Changes
        %button{:id => "revert", :style => "display: none"} Revert Changes
  %div.container.two-thirds
    = render :partial => "timesheet" , :locals => { :first_week => @first_week , :second_week => @second_week , :middle => (@timesheet.days.length/2)+1 }
    %p Total: #{@total_hours} hours
%button{:id => "submit", :style => "display: none"} Submit Changes
