<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="Dates">
      <Interior ss:Color="#E9E9E9" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="Headers">
      <Interior ss:Color="#BDBDBD" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="Info">
      <Interior ss:Color="#E9E9E9" ss:Pattern="Solid"/>
    </Style>
  </Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>
      <ss:Column ss:width="100"/>
      <ss:Column ss:width="100"/>
      <ss:Column ss:width="100"/>
      <Row>
        <Cell ss:StyleID="Info"><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String"><%= @employee.name %></Data></Cell>
      </Row>
      <Row>
        <Cell ss:StyleID="Info"><Data ss:Type="String">Pay Period</Data></Cell>
        <Cell><Data ss:Type="String"><%= @timesheet.payperiod.print %></Data></Cell>
      </Row>
      <Row>
        <Cell ss:StyleID="Headers"><Data ss:Type="String">Date</Data></Cell>
        <Cell ss:StyleID="Headers"><Data ss:Type="String">In</Data></Cell>
        <Cell ss:StyleID="Headers"><Data ss:Type="String">Out</Data></Cell>
        <Cell ss:StyleID="Headers"><Data ss:Type="String">Hours</Data></Cell>
      </Row>
      <% @timesheet.days.each do |day| %>
      <Row>
        <Cell ss:StyleID="Dates"><Data ss:Type="String"><%= day.print %></Data></Cell>
      <% if not day.in_and_outs.empty? %>
      <% day.in_and_outs.each_with_index do |inandout, index| %>
      <% if index == 0 %>
        <Cell><Data ss:Type="String"><%= (inandout.in_time - 5.hours).strftime("%H:%M") %></Data></Cell>
        <% if inandout.out_time %>
        <Cell><Data ss:Type="String"><%= (inandout.out_time - 5.hours).strftime("%H:%M") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ((inandout.out_time.to_time - inandout.in_time.to_time)/1.hour).round(2) %></Data></Cell>
        <% end %>
      </Row>
      <% else %>
      <Row>
        <Cell ss:StyleID="Dates"><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"><%= (inandout.in_time - 5.hours).strftime("%H:%M") %></Data></Cell>
        <% if inandout.out_time %>
        <Cell><Data ss:Type="String"><%= (inandout.out_time - 5.hours).strftime("%H:%M") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ((inandout.out_time.to_time - inandout.in_time.to_time)/1.hour).round(2) %></Data></Cell>
        <% end %>
      </Row>
      <% end %>
      <% end %>
      <% else %>
      </Row>
      <% end %>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
