!!! 5
%html
  %head
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1' } 
    %title TimeClock  
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    


  %body
    -if flash[:notice]
      #notice.message=  flash[:notice]
    -elsif flash[:warning]
      #warning.message= flash[:warning]
    %div#page
      %div#phead      
        %img.logo{:src => image_path('logo_website.jpg' )}
        -if @current_user
          %div{style: "float:right;"}= render :partial => '/sessions/logout'
      %div#pbanner
      %div#pbody
        #main
          = yield
      %div#pfoot
