!!! 5
%html
  %head
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1' } 
    %title TimeClock  
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    


  %body
    -if flash[:notice]
      #notice.message=  flash[:notice]
    -elsif flash[:warning]
      #warning.message= flash[:warning]
    %table.page
      %thead
        %tr
          %th.lefth       
          %th.white{:style => 'text-align: left'}
            -if @current_user
              -if @current_user.admin
                =link_to employees_path do
                  %img{:src => image_path('logo_website.jpg' ) , :width => '213', :height => '70'}
              -else
                =link_to "/employees/#{@current_user.id}/timesheets/1/current" do
                  %img{:src => image_path('logo_website.jpg' ) , :width => '213', :height => '70'}
            -else
              %img{:src => image_path('logo_website.jpg' ) , :width => '213', :height => '70'}
          %th.righth
      %tbody
        %tr
          %td.blue_bar
          %td.blue_bar
          %td.blue_bar
        %tr
          %td.blue_bar
          %td.image
          %td.blue_bar  
        %tr
          %td.blue_bar
          %td.blue_bar
          %td.blue_bar
        %tr
          %td.white
          %td.white
            #main
            = yield
            
            -if @current_user
              %br
              %div{style: "float:right;"}= render :partial => '/sessions/logout'
          %td.white
      %tfoot
        %tr
          %td.leftf
          %td.white
          %td.rightf



