!!! 5
%html
  %head
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1' } 
    %title TimeClock  
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    


  %body
    -if flash[:notice]
      #notice.message=  flash[:notice]
    -elsif flash[:warning]
      #warning.message= flash[:warning]
    %table.page
      %thead
        %tr
          %th.lefth       
          %th.white{:style => 'text-align: left'}
            %img{:src => image_path('logo_website.jpg' ) , :width => '213', :height => '70'}
          %th.righth
      %tbody
        %tr
          %td.blank
        %tr
          %td
          %td.image
          %td  
        %tr
          %td.blank
        %tr
          %td.white
          %td.white
            #main
            = yield
            
            -if @current_user
              %div{style: "float:right;"}= render :partial => '/sessions/logout'
          %td.white
      %tfoot
        %tr
          %td.leftf
          %td.white
          %td.rightf



